.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: 1rem;
    width: 450px;
}

.mode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    background-color: rgb(128, 128, 128, 0.15);
    border-radius: 8px;
}

.mode-btn, .active, .input-btn, .active-input {
    font-size: .9rem;
    padding: .4rem 0;
    width: 135px;
    color: white;
    background: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px rgb(111, 111, 111, .3);
}

.active, .active-input {
    background-color: rgb(128, 128, 128, 0.4);
}

.numberInput {
    width: 40px;
    height: 23px;
    padding: 0 0 0 .4rem;
    border-radius: 6px;
    outline: none;
    border: 2px solid transparent;
    margin-left: .5rem;
    color: whitesmoke;
    border: 1px solid rgb(245, 245, 245, 0.8);
    background-color: rgb(128, 128, 128, 0.4);
}

.tools-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    justify-content: center;
    background-color: rgb(128, 128, 128, 0.15);
    border-radius: 8px;
    padding: 1rem;
}

.tool {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p {
    color: white;
    text-transform: uppercase;
    margin-left: .5rem;
    text-shadow: 2px 2px rgb(111, 111, 111, .3);
}


.timer {
    font-size: 7.5rem;
    color: white;
    text-shadow: 2px -2px rgb(111, 111, 111, .3);
}

button {
    font-size: 1.2rem;
    padding: .5rem;
    width: 150px;
    max-width: 150px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-weight: bold;
    transition: all 0.1s;
}

button:hover {
    opacity: 1;
}

.icon {
    font-size: .9rem;
    margin-right: .3rem;
}

.start-color {
    color: white;
    background-color: rgb(147, 186, 165);
    border-bottom: 5px solid rgb(116, 142, 128);
    opacity: 0.8;
}

.pause-color {
    color: white;
    margin-top: .15rem;
    background-color: rgb(180, 142, 142);
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 1rem;
        margin-top: 1rem;
        max-width: 300px;
    }
    
    .mode {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .2rem;
        background-color: rgb(128, 128, 128, 0.15);
        border-radius: 8px;
    }
    
    .mode-btn, .active {
        font-size: .85rem;
        width: 95px;
    }
    
    
    .timer {
        font-size: 6.5rem;
    }
    
    button {
        font-size: 1.1rem;
        padding: .4rem;
        width: 130px;
        max-width: 130px;
    }
    
    .icon {
        font-size: .8rem;
    }
    
    .start-color {
        color: white;
        background-color: rgb(147, 186, 165);
        border-bottom: 5px solid rgb(116, 142, 128);
        opacity: 0.8;
    }
    
    .pause-color {
        color: white;
        margin-top: .15rem;
        background-color: rgb(180, 142, 142);
        opacity: 0.8;
    }
}