.header-container {
    border-bottom: 2px solid white;
    padding: 1rem 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px rgb(111, 111, 111, 0.4);
}

.social {
    display: flex;
    align-items: center;
    color: white;
    filter: drop-shadow(2px 2px rgb(111, 111, 111, 0.4));
    width: 30%;
    margin-right: -1.5rem;
}

.title h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.social-btn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    transition: all 0.4s ease-in-out;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-btn:hover {
    color:rgb(111, 111, 111, 0.3)
}

.linkedin {
    font-size: 2rem;
}
